{
  "presets": ["env"],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    },
    "development": {
      "plugins": ["external-helpers"]
    },
    "production": {
      "plugins": ["external-helpers"]
    }
  }
}
