{
  "check-coverage": true,
  "per-file": true,
  "lines": 99,
  "statements": 99,
  "functions": 99,
  "branches": 99,
  "include": [
    "src/**/*.js"
  ],
  "exclude": [
    "src/**/*.spec.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "require": [
    "babel-register"
  ],
  "sourceMap": false,
  "instrument": false
}
